.home-title {
	font-family: 'Suez One', serif !important;
	word-spacing: 1px !important;
	letter-spacing: 2px !important;
	text-transform: capitalize;
}
.sub-text {
	font-family: 'Suez One', serif !important;
	letter-spacing: 2px !important;
}
.font li a{
	font-family: 'Suez One', serif !important;
}
.font {
	font-family: 'Suez One', serif !important;
}
.work {
	font-family: 'Suez One', serif !important;
}
body {
	font-family: 'Suez One', serif !important;
}
.letreach,  .fruitarian {
	width: 75% !important;
    margin-left: 28px !important;
}
.rsm {
	 height: 200%;
    padding: 72px;
    width: 141% !important;
    margin-left: -45px;
}
.internshala {
	width: 144% !important;
    margin-left: -61px;
}
.sb {
    min-height: 183px;
    width: 74% !important;
    margin-left: 26px;
}
.ieee {
    min-height: 182px;
    width: 60% !important;
    margin-left: 45px;
}
.gdg {
	margin-left: -52px;
	width: 143% !important;
}
.frankly {
	width:195% !important;
}
.crop {
	min-height: 178px;
    width: 111% !important;
    margin-left: -16px;
}
.rent {
	min-height: 178px;
}